<!doctype html >
<html >
    <body >
        <div style = "width: 80%; margin: 0 auto;" >
            <h2 > Welcome to the Log Analysis project on Udacity </h2 >
            <fieldset >
                 <legend> Most popular three articles of all time </legend >
                 
               {% for result in results %}
                  <ul>
                      <li>
                          <span>"{{result[0]}}"</span> - 
                          <span>{{result[1]}} views</span>
                      </li>
                  </ul>
               {% endfor %}
             </fieldset>


            <fieldset>
               <legend>Most popular article authors of all time</legend>
               
                  {% for author in authors %}
                     <ul>
                        <li>
                           <span>"{{author[0]}}"</span> - 
                           <span>{{author[1]}} views</span>
                        </li>
                     </ul>
                  {% endfor %}
            </fieldset>
            <fieldset>
               <legend>Days more than 1% of requests lead to errors</legend>
               
                  {% for per in percentage %}
                     <ul>
                        <li>
                           <span>{{per[0]}}</span> - 
                           <span>{{per[1]}}% errors</span>
                        </li>
                     </ul>
                  {% endfor %}
            </fieldset>
        </div>
    </body>
</html>